@import "core";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.icon_logo {
  cursor: pointer;
  width: 25px;
  color: white;
}

.logo {
  margin: 24px auto;
  cursor: pointer;
  width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none !important;
  }

  .item {
    font-weight: 400;
    font-family: Oswald;
    text-transform: uppercase !important;
  }
}

.navbar {
  box-shadow: none !important;
}

.topNav {
  position: relative;
  background: $blue3 !important;
  box-shadow: none !important;
}

.topNavContainer {
  max-width: 1012px;
  margin: auto;
}

.mobile {
  background: $blue3 !important;
}
